/* 
?==========================================================?
! --- From the SoftWare Engineer: Devi Speed
! --- if you would like more information about this project or Code
! --- ----- fell free to contact me via ----- --- !
*----------------------------------------------------------*
! --- من المهندس البرمجيات: ديفي سبيد
! --- اذا اردت مزيد من معلومات حول هاذا المشروع او الكود
! --- ----- تواصل معي عبر ----- --- !
* GitHub: @DeviSpeed
* Email: devispeed.2003@gmail.com
* Facebook url:
* Instegram: 
* WhatsApp: +213676116609
* Telegram: @devi_speed || id: 143817986
* TikTok: null
?==========================================================?
*/

* {
  padding: 0;
  margin: 0;

  transition: 0.3s;
}

hr {
  background-color: black;
  width: 50%;
  margin: auto;
  height: 2px;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
  background-color: #f9fafb;
  padding: 5px;
}
nav a.title-link {
  padding: 3px;
  border-radius: 0.7rem;
  width: 10rem;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
nav a.title-link:hover {
  background-color: #e8eaec;
  cursor: pointer;
}

nav a.title-link i {
  color: #e46969;
}
nav a.title-link p {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: black;
}
nav a.title-link p small {
  color: grey;
}

nav #moon {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: solid 1px #d0d1d2;
  background-color: white;
  color: #3f3f3f;
}
nav #lang {
  color: #3f3f3f;
  background-color: white;
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: solid 1px #d0d1d2;
}
nav #moon:hover {
  background-color: #e8eaec;
  cursor: pointer;
}
nav #lang:hover {
  background-color: #e8eaec;
  cursor: pointer;
}
nav #post {
  color: #3f3f3f;
  width: 100px;
  height: 50px;
  border-radius: 0.7rem;
  background-color: white;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: solid 1px #d0d1d2;
}
nav #post:hover {
  background-color: #e8eaec;
  cursor: pointer;
}

/* * ------------------------------------------ * */

header {
  width: 100%;
}

/* header .container::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #00000089;
  width: 100%;
  height: 100%;
} */

header .container {
  position: relative;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-image: url(image/header-cat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container h1 {
  z-index: 1;
  color: white;
  font-size: 2.25rem;
  margin: 0.5rem;
}
header .container h2 {
  z-index: 1;
  color: white;
  margin: 0.5rem;
  font-size: 2.25rem;
}
header .container p {
  text-align: center;
  color: white;
  z-index: 1;
  margin-bottom: 1rem;
}

header .container .btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  text-align: center;
}
header .container .post {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 10rem;
  background-color: #2ebbaa;
  color: white;
  margin: auto;
}
header .container .search {
  margin: auto;
  padding: 0.7rem;
  border-radius: 0.6rem;
  width: 13rem;
  background-color: #ffffff51;
  color: white;
  text-decoration: none;
}

header .container .post:hover {
  background-color: #2ebbaaa1;
  cursor: pointer;
}

header .container .search:hover {
  background-color: #f9fafb41;
  cursor: pointer;
}

/* * ----------------- Search -------------------- * */

section {
  background-color: #e8eaec;
  padding: 0.5rem;
  /* ***** 70% */
  width: 90%;

  margin: 1rem auto;
  border-radius: 5px;
}
section .search {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
section .search .inp {
  background-color: white;
}
section .search .inp i {
  padding: 0.5rem;
}
section .search .inp input {
  min-width: 80%;
  padding: 0.5rem;
  border: none;
}

section .search .inp {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 80%;
}
section .search input {
  border-radius: 1rem;
}

section .search i.sf {
  padding: 0.5rem;
  border-radius: 3px;
  background-color: #e46969;
  transition: 0.4px;
}
section .search a.filter {
  display: flex;
  justify-content: center;
  border: solid grey 1px;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.4px;
}
section .search i.sf:hover {
  cursor: pointer;
  background-color: #e77f7f;
}
section .search a.filter:hover {
  cursor: pointer;
  background-color: #d0d1d2;
}

/* !
! =================================
! */

main {
  padding: 1rem;
}

main .title {
  border-top: 2px solid cyan;
  border-bottom: 2px solid cyan;
  padding: 1rem;
  margin: 0 0 2rem 2rem;
}

main .container {
  background-color: #d0d1d2;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
main .container .cart {
  border: solid #3f3f3f 1px;
  border-radius: 1rem;
}
main .container .cart .image {
  position: relative;
}
main .container .cart .image img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 20rem;
}
main .container .cart .image small {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #e46969;
  padding: 6px;
  border-radius: 12px;
  color: white;
}

main .container .cart h3 {
  font-size: 1.5rem;
  margin: 1rem 1rem;
}
main .container .cart h3 small {
  font-size: 1rem;
  color: #3f3f3f;
}

main .container .cart p {
  text-align: center;
  margin: 0 1rem;
  font-size: 1.1rem;
}
main .container .cart .link {
  display: flex;
  justify-content: space-around;
  margin: 1rem 1rem;
  padding: 0.7rem;
}

main .container .cart .link .lction a {
  list-style: none;
  color: blue;
  text-decoration: none;
  transition: 0.5s ease-in;
}
main .container .cart .link .lction a:hover {
  color: blueviolet;
}

main .container .cart .kach {
  display: flex;
  justify-content: space-around;
  margin: 1rem 1rem;
  padding: 0.7rem;
}

main .container .cart .kach .meney {
  padding: 3px;
  border-radius: 7px;
  background-color: gold;
}
main .container .cart .kach .meney i {
  background-color: #2ebbaa;
  border-radius: 1rem;
}

.link-btn {
  display: flex;
  justify-content: space-evenly;
}

.link-btn .call{
  border-radius: 12px;
  margin-bottom: 1rem
  ;
}
.link-btn .call,
.link-btn .call a {
  background-color: #e46969;
  padding: 0.7rem;
  color: white;
  width: 40%;
}
.link-btn .call a {
  text-decoration: none;
}
.link-btn .call:hover{
  background-color: #e77f7f;
}

.link-btn .messenger{
  margin-bottom: 1rem;
  border: 1px solid grey;
  border-radius: 12px;
}
.link-btn .messenger, .link-btn .messenger a {
  width: 40%;
  padding: 0.7rem;
  color: black;
}
.link-btn .messenger a {
  text-decoration: none;
}
.link-btn .messenger:hover{
  background-color: wheat;
}
